@media screen and (min-width: 1100px) {
    .card{
        width:1070px;
        display: flex;
        &__img{
            background-image: url('/assets/AdobeStock_168443825\ 1.png');
            width:473px;
            height:369px;
            .latest{
                width:154px;
                height:42px;
                background-color: #099CE8;
                font-size: 16px;
                color:#FFFFFF;
            }
            .newest{
                width:180px;
                height:45px;
                font-size:16px;
                color:#323232;
            }
        }
        .time__wrapper{
            display: flex;
            flex-direction: column-reverse;
        }
        &__time{
            justify-content: flex-start;
            img{
                margin-right:10px;
            }
        }
        &__discount{
            margin:16px 0 0 0;
            font-size:26px;
            line-height: 32px;
            color:#000000;
            font-weight: 400;
        }
        &__content{
            margin-left:23px;
        }
        &__list{
            ul{
                margin-left:0;
                li{
                    margin:0 6px 20px 0;
                    font-size:18px;
                    color:#343434;
                    font-weight: 400;
                }
                :last-child{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    ul{
                        margin-left:10px;
                    }
                    button{
                        margin-top:0;
                        margin-bottom: 6px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size:16px;
                    }
                }
            }
        }
        &__footer{
            margin-top:32px;
            width:100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            button{
                margin-left:10px;
            }
        }
    }
}